.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.card {
  width: 200px; /* Adjust the width as needed */
  cursor: pointer;
  margin-bottom: 10px;
}

.nodeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nodeAvatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.children {
  display: flex;
  justify-content: center;
  position: relative;
}

.children::before {
  content: '';
  position: absolute;
  top: -20px; /* Adjust to control the vertical spacing */
  left: 50%;
  width: 1px;
  height: 20px;
  background: black;
}

.childContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.childContainer::before {
  content: '';
  position: absolute;
  top: -20px; /* Adjust to control the vertical spacing */
  left: 50%;
  width: 1px;
  height: 20px;
  background: black;
}

.childContainer::after {
  content: '';
  position: absolute;
  top: -20px; /* Adjust to control the vertical spacing */
  left: 0;
  right: 0;
  height: 1px;
  background: black;
  z-index: -1;
}
